sbbotenv/
venv/
env/
*.venv
*.virtualenv
__pycache__/
*.py[cod]
*.so
.env
.vscode/
.idea/
*.swp
*.swo
*.log
*.tmp
.DS_Store
Thumbs.db
build/
dist/
*.egg-info/
*.spec
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints
*.pid
